:root {
  --primary-color: #a9c4c6;
  --secondary-color: #fff8f1;
  --additional-color: #1C474A;
  --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

body{
   background-color: var(--primary-color);
}



h2,
h3, h4, h5 {
  text-align: center;
  color: var(--secondary-color);

}



h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 70px;

}

h3 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 50px;
  margin-bottom: 5px;

}
.navbar{
  padding-left: 150px;
  padding-right: 150px;

  }
 
.dropdown-menu{
  border: none;
  font-family: 'Oswald', sans-serif;
  background-color: var(--primary-color);
  position: relative;
  z-index:30;
  


}
.dropdown-item{
  font-size: 15px;
  color: var(--secondary-color);

  
  

}

.dropdown-item:hover{
  color: var(--secondary-color);
  background: #fff8f11c;
}


p {
  font-family: 'EB Garamond', serif;
   color: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  text-align: justify;
}
img {
  max-width: 400px;
  max-height: 300px;
}
i {
  color: var(--secondary-color);
}
 .project-img  {
   background: var(--primary-color);
  box-shadow: var(--box-shadow);
  
}
a:focus,a:active {
  outline: none !important;
}
div.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 50px auto 120px;

}
div.projects{
margin-top:60px;
}
.hero{
  width: 100%;
  height: 300px;
  box-shadow: 0 0 2px 1px  var(--primary-color) inset;
  
}

.container {
  max-width: 800px;
  }
  .navbar-nav {
    float: right;
  }
 a.nav-link{
    float: right;
  }
li.nav-item {
  color: var(--secondary-color);

}
.nav-link {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: var(--secondary-color);
  border-radius: 5px;

}
.nav-link:hover {
  color: white;
  background: #fff8f11c;
}

.my-photo {
  max-width: 300px;
  border-radius: 50%;
}
.logo{
  max-height: 100px;
  margin-right: 20px;
}


.navigation-links {
  display: flex;
  margin-top: 25px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 10px 10px;
  text-decoration: none;
}
.nav-link:hover{
  background: ;
  
}
.contact-link {
  font-family: 'Oswald', sans-serif;

  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  max-height: 50px;

}
.contact-link:hover{
  background:var(--secondary-color);
  color: var(--primary-color);
}

.about-link {
  font-family: 'Oswald', sans-serif;

  background: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: var(--box-shadow);
  max-height: 50px;

}
.about-link:hover{
  background: var(--primary-color);
  color: var(--secondary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}


.email-link {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--secondary-color);

}

.navbar a {
  float: left;
  display: block;
}

.first-project-link,
.second-project-link,
.third-project-link {
  background: var(--primary-color);
  border:none;
  box-shadow: var(--box-shadow);
  
  
}

.first-project-link:hover{
  background: #f5f2fe;
  color: var(--primary-color);
}

.second-project-link:hover{
  background: #f5f2fe;
  color: var(--primary-color);
}

.third-project-link:hover{
  background: #f5f2fe;
  color: var(--primary-color);
}

 

input.form-control{
  background: var(--secondary-color);
}
#submit:hover{
  background:var(--primary-color);
  color: var(--secondary-color);
  
}
.form-control{
  min-width: 100px;
}
.hero h3,h4,h5 {
  font-family: 'EB Garamond', serif;
}

#name{
  font-size: 40px;
}

#navbarSupportedContent{
  align-items: stretch;
}
@media (max-width: 766px){
  h2{
    margin-top: 40px;
 }
 .navbar {
   margin-bottom: 20px;
 }
 div.navigation-links {
   margin-top: 10px;
   margin-bottom: 20px;
 }
 .my-photo{
   max-height: 190px;
 }
}
@media (max-width: 576px){
  
    h2{
    margin-top: 25px;
    font-size: 50px;
    }
    .navbar-toggler{
      max-width: 40px;
      max-height: 40px;
    }

    .navbar-toggler-icon{
      padding: 0 auto;
      width: 15px;
     height: 25px;
    }
    .logo{
      max-width: 180px;
    }
    .my-photo{
      max-height: 160px;
    }
    #name{
    font-size: 27px;
    }
    h4,h5{
      font-size: 15px;
    }
    .contact-link{
      text-align: center;
      font-size: 10px;

    }
    .about-link{
      text-align: center;
      font-size: 10px;
      
    }
     .email-link{
      font-size: 20px;
    }
    .nav-link{
      font-size: 15px;
    }
    .nav-link-dropdown{
      font-size: 15px;
    }
    div.navigation-links{
      margin-top: 20px;
      margin-bottom: 10px;
    }
    
    }