:root {
  --primary-color: #4b878b;
  --secondary-color: #fff8f1;
  --additional-color: #1C474A;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body{
   background-color: var(--primary-color);
}


h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-family: 'Oswald', sans-serif;
    font-size: 100px;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  color: var(--secondary-color);
  font-size: 60px;

}

h3 {
  font-family: 'Oswald', sans-serif;
  color: var(--secondary-color);

  font-size: 30px;
  margin-bottom: 30px;

}

p {
  font-family: 'EB Garamond', serif;
   color: var(--secondary-color);


  padding: 20px;
  border-radius: 4px;
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
  text-align: justify;
}
img {
  max-width: 400px;
  max-height: 300px;
}
i {
  color: var(--secondary-color);
}
 .project-img  {
   background: var(--primary-color);
  box-shadow: var(--box-shadow);
  
}
a:focus,a:active {
  outline: none !important;
}
div.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  padding-top: 130px;
  padding-bottom: 130px;

}
button.navbar-toggler {
  background: var(--additional-color);
}
span.navbar-toggler-icon {
  color: var(--secondary-color);
}
.hero{
  width: 100%;
  height: 300px;
  position: relative;
  box-shadow: 0 0 2px 1px  var(--primary-color) inset;
}
.hero .content{
  position: absolute;
  z-index:999;
  text-align: center;
  width: 100%;
}
.hero::after{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index:-99;
  background-image: url(https://images.pexels.com/photos/205420/pexels-photo-205420.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) ;

  background-size: cover;
  opacity: 0.6;
}
.container {
  max-width: 800px;
  
}

.nav-link {
  font-family: 'Oswald', sans-serif;
  font-size: larger;
  color: var(--secondary-color);
  border-radius: 5px;

}
.nav-link:hover {
  color: white;
  background: #fff8f11c;
}


.logo{
  max-width: 300px;
  margin-right: 150px;
}


.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 10px 10px;
  text-decoration: none;
}
.nav-link:hover{
  background: ;
  
}
.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  height: 50px;
}
.contact-link:hover{
  background:var(--secondary-color);
  color: var(--primary-color);
}

.about-link {
  background: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: var(--box-shadow);
  height: 50px;

}
.about-link:hover{
  background: var(--primary-color);
  color: var(--secondary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}


.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}


.first-project-link,
.second-project-link,
.third-project-link {
  background: var(--primary-color);
  border:none;
  box-shadow: var(--box-shadow);
  
  
}

.first-project-link:hover{
  background: #f5f2fe;
  color: var(--primary-color);
}

.second-project-link:hover{
  background: #f5f2fe;
  color: var(--primary-color);
}

.third-project-link:hover{
  background: #f5f2fe;
  color: var(--primary-color);
}

  

input.form-control{
  background: var(--secondary-color);
}
#submit:hover{
  background:var(--primary-color);
  color: var(--secondary-color);
  
}
.form-control{
  min-width: 100px;
}

@media (max-width: 576px){
  h1 {
    font-size: 45px;
  }
    h2{
    font-size: 30px;

    }
    h3{
    font-size: 17px;
    }
    .contact-link{
      text-align: center;
      font-size: 15px;
    }
    .about-link{
      text-align: center;
      font-size: 15px;
    }
     .email-link{
      font-size: 20px;
    }
    .nav-link{
      font-size: 15px;
    }
    .nav-link-dropdown{
      font-size: 15px;
    }
    
    }